Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/StarterContent/Architecture/Floor_400x400.uasset
Content/StarterContent/Architecture/Pillar_50x500.uasset
Content/StarterContent/Architecture/SM_AssetPlatform.uasset
Content/StarterContent/Architecture/Wall_400x200.uasset
Content/StarterContent/Architecture/Wall_400x300.uasset
Content/StarterContent/Architecture/Wall_400x400.uasset
Content/StarterContent/Architecture/Wall_500x500.uasset
Content/StarterContent/Architecture/Wall_Door_400x300.uasset
Content/StarterContent/Architecture/Wall_Door_400x400.uasset
Content/StarterContent/Architecture/Wall_Window_400x300.uasset
Content/StarterContent/Architecture/Wall_Window_400x400.uasset
Content/StarterContent/Blueprints/Assets/FogBrightnessLUT.uasset
Content/StarterContent/Blueprints/Assets/M_LightStage_Arrows.uasset
Content/StarterContent/Blueprints/Assets/M_LightStage_Skybox_Black.uasset
Content/StarterContent/Blueprints/Assets/M_LightStage_Skybox_HDRI.uasset
Content/StarterContent/Blueprints/Assets/M_LightStage_Skybox_Master.uasset
Content/StarterContent/Blueprints/Assets/Skybox.uasset
Content/StarterContent/Blueprints/Assets/SM_Arrows.uasset
Content/StarterContent/Blueprints/Assets/SunlightColorLUT.uasset
Content/StarterContent/Blueprints/Blueprint_CeilingLight.uasset
Content/StarterContent/Blueprints/Blueprint_Effect_Explosion.uasset
Content/StarterContent/Blueprints/Blueprint_Effect_Fire.uasset
